@model  WebApplication2.Models.Registration
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../../Content/StyleSheet.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({

            type: 'POST',
            URL: '/PageOne/PageOne',
            data: data,
            dataType: 'JSON',
            success: function (data) {
                datadata = data.status
                if (status == "1") {
                    window.location.href = '@Url.Action("Index","PageOne")';
                }
            }
        });
    });
    </script>
    <style>
        ul {
            list-style: none;
        }

        .form-style-9 {
            border-radius: 25px;
            background: gray;
            width: 40%;
            height: 350px;
        }








        .inline-label {
            white-space: nowrap;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
        }

        #form2 {
            background-image: linear-gradient(45deg, #ff8080, white);
            border-radius: 25px;
            width: 520px;
        }

        .wrapper {
            padding: 1px 0 50px 50px;
        }

        a.Reg-btn {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none;
            color: black;
            border: 0.2px solid black;
            padding: 1px 1px;
            background-color: #e7e7e7;
        }
    </style>
</head>

<body>
    <div>
        <!------ Include the above in your HEAD tag ---------->
        @using (Html.BeginForm("Index", "PageOne", FormMethod.Post, new { id = "form2" }))
        {
            @Html.AntiForgeryToken()




            <div class="wrapper">
                <h3 style="text-decoration: underline; margin-left:120px;">Login</h3>

                <div class="form-group">
                    <label class="inline-label">
                        Username
                    </label>
                    @Html.TextBoxFor(e => e.Username, new { @class = "form-control", placeholder = "Your Username *" })
                    @Html.ValidationMessageFor(e => e.Username)
                </div>
                <div class="form-group">
                    <label class="inline-label">
                        Password
                    </label>
                    @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                    <span id="result"></span>
                    @Html.ValidationMessageFor(e => e.Password)
                </div>


                <input style="margin-left:30px;" type="submit" class="btnLogin" value="Login" />
                <button style="margin-left:30px;" onclick="Refresh()">Refresh</button>
                <a style="margin-left:20px;" class="Reg-btn" href="../PageTwo">New Registration</a>
            </div>




            <script type="text/javascript">

               $(function () {
                     var msg = '@ViewData["result"]';
                     if (msg == '1')
                     {
                         alert("User Details Inserted Successfully");
                         window.location.href = "@Url.Action("Index", "PageOne")";
                      }
               });

                function Refresh() {
                    document.getElementById('form2').reset();
                };
            </script>
        }
    </div>



</body>
</html>


